@media (max-width: 600px) {
    .main-image {
display: none;
    }

    .section-container {
display: flex;
flex-direction: column-reverse;
gap: 3rem;
margin-bottom: 15rem;
    }

    .cards{
        overflow-x: scroll;
        scroll-snap-align: center;
    }

}

@media (max-width:1200px) {
    .gallery{
        display: flex;
        
    }

    .container-gallery{
        overflow: hidden;
    }

    .aside-container{
        overflow: hidden;
    }
}

@media (max-width:950px) {
    .links {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .links .btn {
        display: none !important;
    }
    
}



@media (max-width: 900px) {
    .burger-menu .btn {
        display: none !important;
    }
}

@media (max-width: 950px) {
    .grid-images {
        display: none;
    }
}

@media (max-width: 600px) {
    .search-box {
        display: none;
    }
     .hero-content h1 {
        font-size: 25px !important;
    }

}
@media (max-width: 600px) {
    .secondary-image {
        padding-top: 20px;
        padding-left: 3,5rem;
    }
}

    @media (max-width: 600px) {
        .newsletter-title{
            font-size: 15px;
        }
        .newsletter-wrapper {
            flex-direction: column;
            height: 420px;
            width: 520px;
        }
        .newsletter-button {
            flex-direction: column;
        }
      }

      @media (max-width: 600px) {
        .gallery {
            height: 120px;
        }
      }